<!-- <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
/>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="resources/js/script.js"></script>
<div class="head">
  <%- include('../partials/header'); -%>
  <div class = "title "
      <p class="h1">Recent Reviews</p>
  </div>
  <form class="">
    <div class="row" style="width:800px; margin:0 auto;">
      <div class="col-4 searchbox">
        <input class="form-control" type="text" name="username" placeholder="Enter a username">
      </div>
      <div class="col text-center">
        <button formmethod="POST" formaction="/reviews" type = "submit" class = "btn btn-light">Search</button>
      </div>
    </div>
  </form>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <br/>
  <br/>
</div>
  <div class="container">
        <% for(var i=0; i < songs.length; i++) { %>
          <div class="jumbotron text-center" style="background-color: #808080">
                <p class = "username">  <%= songs[i].username %></p>
                <p class = "song">  <%= songs[i].song %></p>
                <p class = "review">  <%= songs[i].review %></p>
          </div>
          <br/>
        <% } %>
      </div>


<style>
  .username{
    text-align: left;
  }
  .song{
    text-align: center;
  }
  .review{
    text-align: right;
  }
  .main{
      padding: auto;
  }

  .searchbox{
    padding: 2%
  }

  body{
    background-image: url(<%- dailyImg.hdurl -%>);
    height: 100%;
    font-family: "trebuchet", Trebuchet MS;
  }
  .container{
    font-family: "trebuchet", Trebuchet MS;
    margin: auto;
    width: 70%;
    margin-top: 2%;
    border-radius: 50px;
  }
  .head{
    background-color: #222222;
    height:30%;
  }
  .center{
    text-align: center
  }

  .title{
    text-align: center;
    font-size: xx-large;
    color: white;
    vertical-align: top;
    top: 0;

  }

  .search{
    text-align: center;
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  }

  .btn btn-light{
    text-align: center;
  }

  body {
    font-family: "trebuchet", Trebuchet MS;
  }
  .jumbotron {
    width: 50%;
    height: 25%;
    text-align: center;
    font-family: "trebuchet", Trebuchet MS;
    margin: auto;
    border-radius: 50px;
  }


.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #000000
}

.search input:focus {
    box-shadow: none;
    border: 2px solid #808080;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #808080;
}


</style> -->
<style>
.title {
  text-align: center;
  font-size: xx-large;
  color: white;
}
.bigDiv {
  background-image: url(<%- dailyImg.hdurl -%>);

}
.jumbotron {
  width: 50%;
  text-align: center;
  font-family: "trebuchet", Trebuchet MS;
  margin: auto;
  border-radius: 50px;
}

.transparent-button{
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;  
}

</style>
<div class="bigDiv">
  <%- include('../partials/header'); -%>
  <br />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  />
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <div class="jumboHolder">
    <div class="jumbotron text-center" style="background-color: #808080">
      <h1 class="display-4">Welcome</h1>
      <p class="lead">This shit hopefully will be cool when it is done</p>
      <br />
      <form class="">
        <div class="row" style="width:50%; margin:0 auto;">
          <div class="col-4 searchbox">
            <input class="form-control" type="text" name="username" placeholder="Enter a username" style="text-align: center;">
          </div>
        </div>
        <button formaction="/reviews" formmethod="post" type="submit">
          <a class="btn btn-primary btn-lg" role="button" type = "submit">Don't click me</a>
        </button>
      </form>
    </div>
  </div>

  <div class="container">
    <% for(var i=0; i < songs.length; i++) { %>
      <div class="jumbotron text-center" style="background-color: #808080">
            <p class = "username">  <%= songs[i].username %></p>
            <p class = "song">  <%= songs[i].song %></p>
            <p class = "review">  <%= songs[i].review %></p>
      </div>
      <br/>
    <% } %>
  </div>

  <%- include('../partials/footer'); -%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="resources/js/script.js"></script>
</div>
